@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    font-family: 'Roboto';
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
}

header {
    min-height: 20px;
}

.navbar {
    min-height: 60px;
}


.navbar-light .navbar-nav .nav-link:hover {
    color:red;
}

.inicio {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)),url("../img/jordan.jpg");
    height: 92vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inicio {
    color: #fff;
    text-align: center;
    margin-top: -30px;
}


.inicio .btn-primary {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
}

.inicio .btn-primary:hover {
    background-color: #fff;
    color: #000;
    border: 0px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
}

.col-md-4 {
    border: 1px solid;
}


.login {
    margin-bottom:5px;
}
.dropdown-menu {
    width: 300px !important;
}


#produtosSNKRS {
    text-align: center;
}

#produtosSNKRS img {
    max-width: 100%;
    height: fit-content;
    transition: .2s ease-in-out;    
    height: fit-content;
    opacity: 0.7;
}

#produtosSNKRS img:hover {
    transform: scale(1.02);
    opacity: 1;
}

#produtosSNKRS h2 {
    font-size: 13px;
    text-transform: uppercase;
    color: #777;
    margin-top: 10px;
}

#produtosSNKRS h2 strong {
    font-size: 21px;
    text-transform: uppercase;
    color: #000;
    font-weight: normal;
}


.produto-pag #produtosSNKRS h2 strong {
    font-size: 32px;
    text-transform: uppercase;
    color: #000;
    font-weight: normal;
    margin-top: 50px;
}

.produto-pag #produtosSNKRS h2 strong {
    font-size: 40px;
}


.produto-pag #produtosSNKRS h2 {
    font-size: 18px;
    margin-top: 50px;
}


.produto-pag #produtosSNKRS p {
    font-size: 21px;
    margin-top: 25px;
}

.produto-pag #produtosSNKRS h3 {
    font-size: 21px;
    margin-top: 25px;
    font-weight: bold;
    margin-bottom: 20px;
}


.produto-pag #produtosSNKRS .descricao p {
    font-size: 16px;
    margin-top: 25px;
    line-height: 28px;
    max-width: 80%;
    margin: 0 auto;
    margin-bottom: 25px;
}

